doctype html
html(lang="en")
  head
    title= title
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(rel="stylesheet", href="/css/common.css")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/progress.css")
  link(rel="stylesheet", href="/css/order.css")
  link(rel="stylesheet", href="/css/magnific-popup.css")
  link(rel="stylesheet", href="/css/loading.css")
  link(rel="stylesheet", href="/css/popup-over.css")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
  link(rel="icon", href="images/favicon.ico", type="image/x-icon")
  script(src="/js/utils.js")
  script(src="/js/jquery-3.3.1.slim.min.js")
  script(src="/js/popper.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/jquery.magnific-popup.min.js")
  script(src="https://www.paypal.com/sdk/js?client-id=Ab--raJCbvkn4IEVyJP70M8RGJkNbPQQnhpJK4CiUumArOZvhP1ae3g8mJdJAO_HNat-X1PZNhwREDaR")
  body(class="checkout has-mini-upsell has-funnels")
    span#top_bar
    input#country(value='IN', type='hidden')
    input#state(value='KL', type='hidden')
    #pt-main.pt-perspective
      .pt-page.pt-page-1
        .wrapper
          header
            .top-banner.text-center
              .row
                .phone-12.tablet-10.desktop-8.columns.tablet-centered.desktop-centered
                  .table
                    .table-cell
                      img(alt='Battenna Logo', src='images/homewareinventionlogo.png')
          .heading
            .row
              .phone-12.columns.text-center.pid-354
                h5
                  br
                  strong PROMO TODAY
                  |  - Buy
                  span.emphasis2 10 Diabetic Herbal Patch to Get 10 FREE (120pcs)
                  | TODAY
                  |                             for ONLY
                  br.hide-for-desktop-up
                  span.price.discounted-price(style=' font-weight: bold; color: #48cd87;') $137.99!
                  br
          .order-form-column
            .order-form
              .row
                .phone-12.columns
                  form(action='', method='post', data-uitype='orderform')
                    .row(data-equalizer='')
                      // Div Start HERE
                      .phone-12.tablet-9.tablet-centered.desktop-7.desktop-uncentered.columns.left-form(data-equalizer-watch='')
                        .order-raido-container.row.border-box.shipping-message
                          .phone-12.columns.title.pid-312
                            .row
                              .phone-12.columns
                                img.left.off50(width='85', height='85', src='images/40-off.d36f91e60f5bebcd.png')
                                h5.emphasis.offTxt
                                  | Your 50% Discount Has Been
                                  | Applied
                                // <p>Your Order Qualifies For <strong class="elm-price"></strong><span class="shipping-free"> Free Shipping </span><span class="shipping-regular">  </span> When Ordered TODAY.</p>
                          div
                            span(style='font-weight:bold;color:green;font-size:18px') Order now so you don&apos;t miss out on this amazing offer!
                          br
                          div(style='font-size:15px;padding-bottom:10px')
                            span Stock Availability:
                            span(style='font-weight:bold;color:red;')  LOW
                            span.availability
                              span.baba(style='background:red;')
                              span.baba
                              span.baba
                              span.baba
                          div(style='font-size:15px;padding-bottom:5px')
                            | Your order is scheduled to ship by
                            span(style='font-weight:bold;color:red;')
                              script.
                                getDate(0);
                          .phone-12.columns.product-selection-row
                            h5.step-title Step #1: Select Quantity
                            .list-title.clearfix(style='')
                              .list-title-item.left
                                strong Item
                              .list-title-price.right
                                strong Price
                            // - console.log("order", slider.order.i18nImage, sliderData.productPath)
                            #product-quantity-radio.product-quantity-radio
                              .row
                                .phone-12.columns
                                  #pid-312.package-row.pid-312
                                    .package-name
                                      input#radio-312.scout_radio(type='radio', data-type='product_1', name='product', value='46')
                                      label.radio-title(for='radio-312', style='font-size: 15px !important;')
                                        span.quantity
                                          | Buy 1 (6pcs) -
                                          span.show-for-phone Diabetic Patch
                                        spen.hide-for-phone Diabetic Patch
                                        br
                                        div(style='font-weight:bold;color:#0688d2;') (
                                          span.unit-price $13.97
                                          | /Unit)
                                          |                                                                         -
                                          span.discount-formula-xxx.hide
                                          |  50                                                                      % OFF
                                    .package-price(style='font-size: 15px !important;')
                                      | $13.97
                                  #pid-353.package-row.pid-353
                                    .package-name.arrow_class
                                      input#radio-353.scout_radio(type='radio', data-type='product_2', name='product', value='47')
                                      label.radio-title(for='radio-353', style='font-size: 15px !important;')
                                        span.quantity
                                          | Buy 2 Free 1 (18pcs) -
                                          span.show-for-phone Diabetic Patch
                                          spen.hide-for-phone Diabetic Patch
                                          br
                                          div(style='font-weight:bold;color:#0688d2;') (
                                            span.unit-price $9.32
                                            | /Unit)
                                            |                                                                         -
                                            span.discount-formula-xxx.hide
                                            |  50                                                                        % OFF
                                    .package-price(style='font-size: 15px !important;')
                                      | $27.97
                                  #pid-356.package-row.pid-356
                                    .package-name
                                      input#radio-356.scout_radio(type='radio', data-type='product_3', name='product', checked='checked', value='48')
                                      label.radio-title(for='radio-356', style='font-size: 15px !important;')
                                        span.quantity
                                          | Buy 3 Free 2 (30pcs) -
                                          span.show-for-phone Diabetic Patch
                                          spen.hide-for-phone Diabetic Patch
                                          br
                                          div(style='font-weight:bold;color:#0688d2;') (
                                            span.unit-price $8.39
                                            | /Unit)
                                            |                                                                         -
                                            span.discount-formula-xxx.hide
                                            |  50                                                                        % OFF
                                    .package-price(style='font-size: 15px !important;')
                                      | $41.97
                                  #pid-355.package-row.pid-355
                                    .package-name.arrow_class
                                      input#radio-355.scout_radio(type='radio', data-type='product_4', name='product', value='659')
                                      label.radio-title(for='radio-355', style='font-size: 15.px !important;')
                                        span.quantity
                                          | Buy 6 Free 4 (60pcs) -
                                          span.show-for-phone Diabetic Patch
                                          spen.hide-for-phone Diabetic Patch
                                          br
                                          div(style='font-weight:bold;color:#0688d2;') (
                                            span.unit-price $7.59
                                            | /Unit)
                                            |                                                                         -
                                            span.discount-formula-xxx.hide
                                            |  50                                                                        % OFF
                                    .package-price(style='font-size: 15px !important;')
                                      | $75.97
                                  #pid-354.package-row.pid-354.bestseller
                                    .package-name.arrow_class
                                      input#radio-354.scout_radio(type='radio', data-type='product_5', name='product', value='663', checked='checked')
                                      label.radio-title(for='radio-354', style='font-size: 15.px !important;')
                                        span.best-seller-text(style='text-transform: uppercase; font-weight: 700')
                                          b BEST SELLER
                                        span.quantity
                                          | Buy 10 Free 10 (120pcs) -
                                          span.show-for-phone Diabetic Patch
                                          spen.hide-for-phone Diabetic Patch
                                          br
                                          div(style='font-weight:bold;color:#0688d2;') (
                                            span.unit-price $6.89
                                            | /Unit)
                                            |                                                                         -
                                            span.discount-formula-xxx.hide
                                            |  50                                                                        % OFF
                                    .package-price(style='font-size: 15px !important;')
                                      | $137.99
                                    .package-wrap
                                      span.arrow
                                        img(src='/images/curved-red-arrow.png')
                                  .row(style='margin-top: 28px;')
                                    .phone-12.columns.warrent-container
                                      .funnel-box(data-name='lifetime-warranty')
                                        .lifetime-warranty(data-display-name='Lifetime Warranty')
                                          .header
                                            label(for='funnel-lifetime-warranty')
                                              img.bounce-right(src='/images/red-arrow.857f0fc25e8c1a67.png')
                                            input#funnel-lifetime-warranty(type='checkbox', name='extraItem', value='42')
                                            label(for='funnel-lifetime-warranty')
                                              | Yes, I Want
                                              | Lifetime Protection
                                          .body
                                            strong One Time Offer:
                                            |  By
                                            |                                                                                 placing your order today you can have a lifetime
                                            |                                                                                 protection and replacement warranty for only an
                                            |                                                                                 additional
                                            span.warranty-price $4.95
                                            | .
                                            |                                                                                 This extended warranty means your product is covered
                                            |                                                                                 for LIFE.
                      // Function End here
                      .customer-data.phone-12.tablet-9.tablet-centered.desktop-5.desktop-uncentered.columns.right-form(data-equalizer-watch='')
                        .row.border-box
                          .row
                            .phone-12.columns
                              h5.step-title Step #2: Pay with
                          .phone-12.columns.types
                            label(for='cctype-paypal')
                              input#cctype-paypal(checked='checked', type='radio', required='', name='payment_method', value='PAYPAL')
                              img(src='images/paypal-long-en.56a335802bcd73be.jpg')
                              // <div class="text-cctype-paypal smaller">Always free shipping when paying with PayPal! </div>
                          .phone-12.columns
                            .phone-12.columns.types
                              .cc-form
                                .row
                                  .phone-12.columns
                                    h5.step-title Step #3: Card Information
                                .row.margin-bottom-5
                                  .phone-12.columns
                                    label(for='cardNo') Card Number
                                .row
                                  .phone-12.columns
                                    .inct
                                      input.form-control.numeric-data(type='tel', placeholder='Credit Card Number', required='', name='creditCardNumber', value='')
                                .row.margin-bottom-5
                                  .phone-6.columns
                                    label(for='creditCardFullDate')
                                      | Card Expiry
                                      | Date
                                .row
                                  .phone-6.columns
                                    select.form-control(name='expMonth', required='')
                                      option(value='') Month
                                      option(value='01') (01) January
                                      option(value='02') (02) February
                                      option(value='03') (03) March
                                      option(value='04') (04) April
                                      option(value='05') (05) May
                                      option(value='06') (06) June
                                      option(value='07') (07) July
                                      option(value='08') (08) August
                                      option(value='09') (09) September
                                      option(value='10') (10) October
                                      option(value='11') (11) November
                                      option(value='12') (12) December
                                  .phone-6.columns
                                    select.form-control(name='expYear', required='')
                                      option(value='') Year
                                      option(value='2019') 2019
                                      option(value='2020') 2020
                                      option(value='2021') 2021
                                      option(value='2022') 2022
                                      option(value='2023') 2023
                                      option(value='2024') 2024
                                      option(value='2025') 2025
                                      option(value='2026') 2026
                                      option(value='2027') 2027
                                      option(value='2028') 2028
                                      option(value='2029') 2029
                                      option(value='2030') 2030
                                      option(value='2031') 2031
                                      option(value='2032') 2032
                                      option(value='2033') 2033
                                      option(value='2034') 2034
                                .row.margin-bottom-5
                                  .phone-6.columns
                                    label(for='cardSecurityCode') Security Code
                                .row
                                  .phone-6.columns
                                    .inct
                                      input.form-control.numeric-data(type='tel', placeholder='Security Code', required='', name='CVV', value='')
                            .cc-container
                              .row.shipping(style='display:none;')
                                .phone-12.columns
                                  h5.step-title Step #4: Contact Information
                                  hr
                                  .index-form-contactinfo
                                    .row.margin-bottom-5
                                      .phone-6.columns
                                        label(for='firstname') First Name
                                        input#firstname.form-control(type='text', required='', placeholder='First Name', name='shippingFirstName', value='')
                                      .phone-6.columns
                                        label(for='lastname') Last Name
                                        input#lastname.form-control(type='text', required='', placeholder='Last Name', name='shippingLastName', value='')
                                    .row
                                      .phone-12.columns
                                        label(for='email') E-mail
                                    .row
                                      .phone-12.columns
                                        input#email.form-control(type='email', placeholder='Email', required='', name='email', value='')
                                    .row
                                      .phone-12.columns
                                        label(for='phone') Phone
                                    .row
                                      .phone-12.columns
                                        input#phone.form-control.numeric-data(type='text', placeholder='Phone', required='', name='phone', value='')
                            .row.shipping(style='display:none;')
                              h5.step-title Step #5: Shipping Information
                              hr
                              .index-form-shipping
                                .row.margin-bottom-5
                                  .phone-12.columns
                                    label(for='address') Street
                                .row
                                  .phone-12.columns
                                    input#gmap_autocomplete.form-control(type='text', placeholder='Street Address', required='', name='shippingAddress', value='')
                                .row.margin-bottom-5
                                  .phone-12.columns
                                    label(for='city') City
                                .row
                                  .phone-12.columns
                                    input#city.form-control(type='text', placeholder='City', required='', name='shippingCity', value='')
                                .row.margin-bottom-5
                                  .phone-12.columns
                                    label(for='countrylist') Country
                                .row
                                  .phone-12.columns
                                    select#shippingCountry.custom-select(name='shippingCountry', required='')
                                .row.margin-bottom-5
                                  .phone-6.columns
                                    label(for='state') State
                                  .phone-6.columns
                                    label(for='zip') Zip/Postcode
                                .row
                                  .phone-6.columns
                                    select#shippingState.custom-select(name='shippingState', required='')
                                  .phone-6.columns
                                    input#zip.form-control.numeric-data(type='text', placeholder='Zip Code...', required='', name='shippingZip', value='')
                            .row
                              .phone-12.columns.text-center
                                .cc-btn-group
                                  input(type='submit', style='display: none;')
                                  .payment-block.btn-paypal.active
                                    .paypal-msg
                                      span.smaller
                                        | When paying with PayPal, your order will be delivered to the selected Shipping Address from your PayPal account. Please ensure the correct address is chosen. You can edit or change this address once you&apos;ve signed into your account.
                                    p.coupnRdTxt
                                    div#pay_with_paypal
                                  .payment-block.btn-cc
                                    p.coupnRdTxt
                                    button#pay_with_cc.custom-button.button-flat.submitbutton.expand.btn-cc.a-cc.button-2(type='button', data-uitype='submit_button')
                                      span.text YES, SEND MY Diabetic Patch NOW!
                                    .transSec
                                      span.price-text-cont All transactions will be handled in US Dollars
                            // <div class="encryption disclaimer-usd"><span class="smaller">All pricing is in United States of America Dollars.</span></div>
                            .text-center
                              br
                              img(src='/images/safecheckout1.png', alt='')
                            .encryption
                              i.icon-lock
                              span.smaller Secure 256-bit SSL Encryption
              .modals
                #where-to-find-security.reveal-modal.small.cvv(data-reveal='')
                  .wrap
                    a.close-reveal-modal(aria-label='Close')
                      i.icon-close.close-sign
                    h4 Where can I find my Security Code?
                    .text-content
                      | The security code is a three digit number, located on the back
                      | of any Visa
                      sup
                      |  on the right side of the signature strip as
                      |                                     illustrated.
                      strong Last 3 Digits of account number panel:
                    .text-content
                      | Visa
                      sup
            .row.policy-row
              .phone-12.columns
                p.policy-links
                  a(href='javascript:void(0);', onclick="javascript:openNewWindow('page-contact.php', 'modal');")
                    | Contact Us |
                  a(href='javascript:void(0);', onclick="javascript:openNewWindow('page-terms.php', 'modal');")
                    |  Terms and Conditions |
                  br.show-for-phone-only
                  a(href='javascript:void(0);', onclick="javascript:openNewWindow('page-privacy.php', 'modal');")
                    |  Privacy Policy
                .text-center
                  a.dmca-badge(href='http://www.dmca.com/Protection/Status.aspx?ID=ef1fadd9-e577-4b7f-ac63-515756019c06', title='DMCA.com Protection Status')
                    img(src='images/dmca_protected_sml_120aef76c.png?ID=ef1fadd9-e577-4b7f-ac63-515756019c06', alt='DMCA.com Protection Status')
            #bottom-floating-bar.bottom-floating-bar-bg
              .row
                .phone-12.desktop-6.columns.order-button
                  button.custom-button.button-flat.button-2.expand
                    span.text
                      | YES, SEND MY Diabetic Patch NOW!
                  .encryption
                    i.icon-lock
                    span.smaller Secure 256-bit SSL Encryption
    #exitpopup-overlay.exitpopup-overlay
      #exit_pop.exitpop-content
        a(href='javascript:void(0);')
          .popSection
            span.closeBtn
              img(src='images/closebtn.png', width='22', height='22')
            div(style='margin-bottom: 20px')
              img(alt='Battenna Logo', src='images/homewareinventionlogo.png')
            h1.popHdr Wait!
            div(style='width: 56%;text-align: center;     margin-left: 22%;')
              p.blueTxt Save an extra 30% OFF on top of the 50% discount with this free coupon!
            div
              p.blckTxt
                | Congratulations! This is a special promotion that only 5 lucky visitors get per
                | week.
              p.blckTxt
                | You must use this coupon within the next 5 minutes or it will be given away to
                br
                | another
                |                         customer.
            .counterSec
              ul
                li.min_count 05
                li :
                li.sec_count 00
              span
                p minutes
                p seconds
            a(href='discount.php')
              span.couponBtn Activate 30% OFF Coupon!
  script.
    paypal.Buttons().render('#pay_with_paypal');

    $(document).off('change', 'input[type=radio][name=payment_method]');
    $(document).on('change click', 'input[type=radio][name=payment_method]', function () {
      var val = $(this).val();
      if (val == 'CREDITCARD') {
        $('.cc-form,.btn-cc').addClass('active');
        $('.btn-paypal').removeClass('active');
        $('.warrent-container').hide();
        $('.shipping').show();
      } else {
        $('.cc-form,.btn-cc').removeClass('active');
        $('.btn-paypal').addClass('active');
        $('.warrent-container').show();
        $('.shipping').hide();
      }
    });

    $('[name=payment_method]').on("click", function () {

      if ($(this).val() == 'CREDITCARD') {
        $(".shipping").find('input, select').attr('required', 'required');
        $(".shipping").find('input, select').attr('required', 'required');
        $(".cc-form").find('input, select').attr('required', 'required');
        $(".cc-form").slideDown("slow");
      } else {
        $(".shipping").find('input, select').removeAttr('required');
        $(".cc-form").find('input, select').removeAttr('required');
        $(".cc-form").slideUp("slow");
      }
    });

    $('[name=payment_method]:checked').trigger('click');

    var disFlag = false;
    var newFlag = false;
    var comnFlag = '';
    $(document).off('mouseout', '#top_bar');
    $(document).on('mouseout', '#top_bar', function () {
      if (!newFlag) {
        newFlag = true;
        comnFlag = '';
        countDown();
        $('#exitpopup-overlay').show();
      }
    });

    $(document).off('click', '.closeBtn');
    $(document).on('click', '.closeBtn', function () {
      $('#exitpopup-overlay').hide();
    });
